{% extends "panel/index.j2" %}

{% block content %}

<a href="{{ url_for('.index') }}">Back</a>
<a href="{{ url_for_security('logout') }}">Sign out</a>


<h1>{{ policy.name }}</h1>

<div class="grid">
	<div class="grid__item col-1-4">
		&nbsp;
	</div><!--
#--><div class="grid__item col-3-4">
		<div class="grid">
		{% for statement in policy.statements %}
			<div class="{{statement.bias.name}} grid__item {% if statement.bias.name == 'extreme_right' %}right{% else %}col-1-2{% endif %}">
				<p>
			 		{{statement.bias.description}}: 
			 	</p>
				<h3>	
					{{statement.text}}
				</h3>
			</div>
		{% endfor %}
		</div>
	</div>
</div>



<form method="POST" action="">
	<input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
	{% for candidate in candidates %}
		<div class="grid" data-candidate="{{candidate.id}}">
			<h4 class="grid__item col-1-4">
				{{ candidate.name }}
			</h4>
			
			<div class="slider grid__item col-3-4" data-slider="{% if candidate.response %}{{ candidate.response.value }}{% endif %}"></div>
			<input type="hidden" value="" name="candidate[{{candidate.id}}]" data-slider-input>
		</div>
	{% endfor %}

	<button class="btn btn-primary" type="submit">Save</button>

</form>


{% endblock %}
