{% extends "template.j2" %}


{% block css %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css') }}">
{% endblock %}


{% block content %}
	

	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	<a href="{{ url_for_security('logout') }}">Sign out</a>

	<h2>Click on a policy area and place the parties where you feel is best.</h2>
	<p>
		If you don't know, just leave them in the middle. Thanks for taking part!
	</p>

	<h3>
		{{ policy_areas|length }} policy areas for you to look at.
	</h3>

	{% for policy in policy_areas %}
		<div data-candidate="{{policy.id}}">
			<h4>
				<a href="{{ url_for('.policy', policy_id=policy.id ) }}">{{ policy.name }}</a>
				
			</h4>
		</div>
	{% endfor %}


	
	<h4>Random trivia:</h4>

	{% for stat in stats %}
	<p>
		The panel has the <strong>{{ stat.name }}</strong>  <em>{{ 'leaning left' if stat.sentiment < 0.5 else 'leaning right' if stat.sentiment > 0.5 else 'on the fence' }} ({{ stat.sentiment }})</em> on <strong>{{ stat.policy }}</strong>
	</p>
	{% endfor %}
	

{% endblock %}


{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/panel.js') }}"></script>
{% endblock %}
