body {
	font-family: sans-serif;
	margin: 0;
}

h1:first-child,
h3:first-child,
h4:first-child {
	margin-top: 0;
}


.grid {
	/*overflow: hidden;*/
	position: relative;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid > * {
	display: block;
}

.grid__item, .left {
	float: left;
}

.right {
	float: right;
}

.col-1-2 {
	width: 50%;
}

.col-3-4 {
	width: 75%;
}

.col-1-4 {
	width: 25%;
}



.content {
	padding: 2em;
}