{% extends 'admin/template.j2' %}

{% block body %}
<div class="" style="padding: 2em;">
    <form method="POST" action="">
         
        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% for f in form if f.type != 'CSRFTokenField' %}
        <div>
        {{ f.label }}
        {{ f }}
        {% if f.errors %}
        <ul>
            {% for e in f.errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock %}