{% extends "template.j2" %}


{% block content %}
	<h1>Play the game...</h1>
	
	{% for model in policy_areas %}
		<div data-id="{{model.id}}">
			<h4>
				<a href="{{ url_for('.policy', policy_id=model.id) }}">{{ model.name }}</a>
			</h4>
		</div>
	{% endfor %}

	<a href="{{ url_for('.results') }}">Done</a>

{% endblock %}
