{% extends "template.j2" %}

{% block content %}
	<h1>{{policy.name}}</h1>
	

	{% for statement in policy.statements %}
		<p data-id="{{statement.id}}">{{ statement.text }} ({{statement.bias.description}})</p>
	{% endfor %}

	<a href="{{ url_for('.index') }}">Next</a>

	
{% endblock %}
