{% extends "template.j2" %}


{% block content %}
	<h1>Your results</h1>
	<a href="/">Home</a>


	{% for candidate in candidates %}
		<div data-candidate="{{candidate.id}}">
			<h4>
				{{ candidate.name }}
			</h4>
			<p>
				{{ candidate.url }}
			</p>
		</div>
	{% endfor %}

	<hr>
	<h2>Your avatar</h2>
	<p>
		[[ sheep here ]]
	</p>


	<h2>Share it</h2>
	<p>
		[[ fb / twitter / etc ]]
	</p>
{% endblock %}
