{% extends "template.j2" %}


{% block content %}
	<h1>On the fence</h1>
	<p>Maaaaate.</p>

	<p>
		<a href="/play/">Play</a>
	</p>
	
	<p>
		<a href="/about/">About</a>
	</p>

	<p>
		<a href="/Q/">Panel Sign-in</a><br>
		panel@onthefence.co.nz / panel
	</p>


	<p>
		<a href="/admin/">Admin Sign-in</a><br>
		admin@onthefence.co.nz / super
	</p>

	
{% endblock %}
