<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	{% block css %}
		<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	{% endblock %}
</head>
<body>
	
{% block body %}
	<div class="content">
		{% block content %}
			<h1>On the fence</h1>
		{% endblock %}
	</div>
{% endblock %}


	{% block js %}
		<script type="text/javascript" src="/static/js/site.js"></script>
	{% endblock %}

</body>
</html>